<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/horizontal-navbar.ejs') %>
    <div class="container">
        <%- include('../partials/vertical-navbar.ejs') %>

        <section class="content">
            
        </section>
    </div>
</body>