<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">

    <!-- Link FontAwesome -->
    <script src="https://kit.fontawesome.com/5fd10469b7.js" crossorigin="anonymous"></script>

    <!-- Link Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Link Jquery.mask -->
    <script type="module" src="/assets/utils/jquery.mask.js"></script>
    <script src="/assets/utils/mask.js"></script>

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Link SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Link AOS CSS e JS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Link Alerts -->
    <script src="/assets/utils/alerts.js"></script>

    <script src="/assets/utils/disableButtons.js"></script>
    
    <title>Leal Multimarcas</title>