<nav>
    <div class="vendedor-img">
        <img src="/assets/images/imagem.jpg" alt="Foto Usuário">
    </div>
    <p class="nome-vendedor">Paulo Leal</p>
    <ul>
        <li><a href="/"><i class="fas fa-chart-bar"></i> Dashboard</a></li>

        <li class="li-menu" id="li-carros">
            <div class="label-menu">
                <i class="fas fa-car"></i> Carros
            </div>
            <div class="arrow">
                <i id="i-carros" class="fas fa-chevron-down i-menu"></i>
            </div>
        </li>
        <div class="sub" id="sub-carros">
            <li>
                <a href="/carro"><i class="fas fa-plus"></i> Cadastrar</a>
            </li>
            <li>
                <a href="/carros"><i class="fas fa-filter"></i> Filtrar</a>
            </li>
            <li>
                <a href="/carros/pendencias"><i class="fas fa-triangle-exclamation"></i> Pendências</a>
            </li>
        </div>

        <li class="li-menu" id="li-compras">
            <div class="label-menu">
                <i class="fas fa-dollar-sign"></i> Compras
            </div>
            <div class="arrow">
                <i id="i-compras" class="fas fa-chevron-down i-menu"></i>
            </div>            
        </li>
        <div class="sub" id="sub-compras">
            <li>
                <a href="/carro"><i class="fas fa-plus"></i> Cadastrar</a>
            </li>
            <li>
                <a href="/carros"><i class="fas fa-filter"></i> Filtrar</a>
            </li>
            <li>
                <a href="/carros/pendencias"><i class="fas fa-triangle-exclamation"></i> Pendências</a>
            </li>
        </div>
        
        <li><i class="fas fa-dollar-sign"></i> Vendas</li>

        <li class="li-menu" id="li-clientes">
            <div class="label-menu">
                <i class="fas fa-users"></i> Clientes
            </div>
            <div class="arrow">
                <i id="i-clientes" class="fas fa-chevron-down i-menu"></i>
            </div>
        </li>
        <div class="sub" id="sub-clientes">
            <li>
                <a href="/cliente"><i class="fas fa-plus"></i> Cadastrar</a>
            </li>
            <li>
                <a href="/clientes"><i class="fas fa-filter"></i> Filtrar</a>
            </li>
            <li>
                <a href="/clientes/pendencias"><i class="fas fa-triangle-exclamation"></i> Pendências</a>
            </li>
        </div>

        <li class="li-menu" id="li-usuarios">
            <div class="label-menu">
                <i class="fa-solid fa-users-gear"></i> Usuários
            </div>
            <div class="arrow">
                <i id="i-clientes" class="fas fa-chevron-down i-menu"></i>
            </div>
        </li>
        <div class="sub" id="sub-usuarios">
            <li>
                <a href="/usuarios/cadastro"><i class="fas fa-plus"></i> Cadastrar</a>
            </li>
            <li>
                <a href="/usuarios"><i class="fa-solid fa-list"></i></i> Lista</a>
            </li>
            <li>
                <a href="/usuarios/solicitacoes/cpf"><i class="fas fa-triangle-exclamation"></i> Solicitações</a>
            </li>
        </div>
        
        <li><i class="fas fa-wallet"></i> Financeiro</li>
      </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/vertical-navbar/toggleNav.js"></script>